.astronomy {
  background-image: url('/react-website-nasa/images/space.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  display: flex;
  flex-direction: column;
}

.nasa {
  overflow: hidden;
}