.nasa {
  overflow: hidden;
}

.options:link {
  color: white;
}

.options:visited {
  color: white;
}

.options {
	text-align: center;
	overflow:hidden;
	margin: 10px;
}

.searchBox {
	font-size: 24px;
	border: 2px solid red;
	background-color: #ffd4d4;
	padding: 4px 8px;
	cursor: text;
}

.submitButton {
	border-radius: 10%;
	font-size: 18px;
	border: 2px solid white;
	padding: 4px 8px;
	margin: 8px;
	background-color: white;
	color: #ff2e2e;
	cursor: pointer;
}

.embeddedVid {
	margin: 5px;
}